body {
    background-color: #f2f2f2;
    margin: 0px;
    font-family: 'Archivo', sans-serif;
    color: #282828;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(1, 1, 1, 1);
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
    vertical-align: center;
}
li {
    justify-content: center;
    display:inline-block;
    height: 100%;
    float: right;
    padding: 30px;
}

li a {
    text-align: center;
    height: 100%;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgba(251, 97, 7, 1);
    color: black;
}

.header-info{
    padding: 20px;
    /*background-color: rgba(67, 84, 117, 1);*/
    background-color: rgba(40, 49, 67, 1);
    justify-content: center;
    text-align: center;
    color: #f2f2f2;
    height: 300px;
}
.h1, .h5{
    font-weight: normal !important;
}
.header-buttons {
    margin-top:10px;
    z-index: 2;
}
.header-button {
    margin-top:30px;
    height: 50px;
    background-color: rgb(255 240 71);
    color: white;
    border-width: 0;
}
.start-button {
    margin-right: 5px;
    color: black;
    z-index: 2;
}
.outline-styling {
    margin-left: 5px;
    border-color: rgba(255, 240, 71, 1);
    border-width: 3px;
    background-color: transparent;
}
.bottom-page{
    height: calc(100% - 400px);
    background-color: black;
    justify-content: center;
    text-align: center;
    color: #f2f2f2;
}
.container{
    /*width: 60%;*/
    margin: 0 auto;
}
#app{
    display: inline-block;
    horiz-align: center;
    justify-content: center;
    background-color: #090909;
}
.currently-empty-box{
    margin: 0 auto;
    height: 200px;
    width: 600px;
    border: 2px solid white;
}

.end-information{
    margin-top: 40px;
    width: fit-content;
    display: inline-flex;
}
.right-div{
    margin-left: 20px;
}
.left-div{
    margin-right: 20px;
}
img{
    height: 550px;
    width: auto;
}
.image-text{
    margin-top: 20px;
    margin-bottom: 50px;
    height: 550px;
    position: relative;
    text-align: center;
    color: white;
}
.karaoke-information{
    height: 100px!important;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main-player {
    margin-top: 50px;
    margin-left: 50px;
    width: 800px;
    height: 650px;
    background: gold;
}
.brick-img{
    top: 0px;
    height:120px;
    width: auto;
}
.karaoke-screen{
    background-color: black;
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
}
.sub-players{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*grid-gap: 2vw;*/
    margin-top: 50px;
    margin-left: 50px;
    width: 800px;
    height: 650px;
    background: blue;
}
.single-player-view{
    background-color: red;
    margin: 15px 15px;
}
.mic-image{
    position: absolute;
    top: 3%;
    right: 0;
    width: 100%;
    pointer-events: none;
}
#app{
    width: 100%;
}

.image-list{
    pointer-events: none;
    height:0;
    overflow: visible;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    color: black;
}

/* The Close Button */
.close {
    margin-top: 20px;
    color: black;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.song-information{
    align-self: center;
    margin-right: 50px;
    margin-left: 50px;
}
#myBtn{
    align-self: center;
    height:50px;
    font-size: 18px;
}
#myBtnLyrics{
    align-self: center;
    height:50px;
    font-size: 18px;
}
.app-desc{
    width:50%;
    font-size: 18px;
    align-self: center;
    margin: 20px auto;
}