body {
    background-color: #f2f2f2;
    margin: 0px;
    font-family: 'Archivo', sans-serif;
    color: #282828;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(1, 1, 1, 1);
    width: 100vw;
    height: 100px;
    -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
    vertical-align: center;
}
li {
    justify-content: center;
    display:inline-block;
    height: 100%;
    float: right;
    padding: 30px;
}

li a {
    text-align: center;
    height: 100%;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgba(251, 97, 7, 1);
    color: black;
}

.header-info{
    padding: 20px;
    background-color: rgba(67, 84, 117, 1);
    justify-content: center;
    text-align: center;
    color: #f2f2f2;
    height: 300px;
}
.h1, .h5{
    font-weight: normal !important;
}
.header-buttons {
    margin-top:10px;

}
.header-button {
    margin-top:30px;
    height: 50px;
    background-color: black;
    color: white;
    border-width: 0;
}
.start-button {
    margin-right: 5px;
}
.outline-styling {
    margin-left: 5px;
    border-color: white;
    border-width: 3px;
    background-color: transparent;
}
.bottom-page{
    height: calc(100% - 400px);
    background-color: black;
    justify-content: center;
    text-align: center;
    color: #f2f2f2;
}
.container{
    /*width: 60%;*/
    margin: 0 auto;
}
#app{
    display: inline-block;
    horiz-align: center;
    justify-content: center;
    background-color: #090909;
}
.currently-empty-box{
    margin: 0 auto;
    height: 200px;
    width: 600px;
    border: 2px solid white;
}

.end-information{
    margin-top: 40px;
    width: fit-content;
    display: inline-flex;
}
.right-div{
    margin-left: 20px;
}
.left-div{
    margin-right: 20px;
}