<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/style.css" />
    <!-- Import Vue.js -->
    <!--<script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
    </style>
</head>
<body>
<div>
    <ul class="nav-bar">
        <li style="float:left; font-size: 32px"><a href="">A Brick Layer product</a></li>
        <li class = "image-list" style="float:left;padding-left:0;"><img class="brick-img" src="assets/Untitled.png"></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="product.html">Product</a></li>
        <li><a class="active" href="karaokify.html">Home</a></li>
    </ul>
    <div class="karaoke-information header-info">
        <button id="myBtnLyrics">Click for Lyrics!</button>
        <div class="song-information">
            <div>Currently Playing</div>
            <div>Song Name Here</div>
            <div>-------------------------</div>
            <div>Current Singer</div>
            <div>Singers Name Here</div>
        </div>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">Click to Vote</button>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div v-if="canVote">
                    <p style="font-size: 28px;">Here you can vote for the next song to be played in the queue</p>
                    <p style="font-size: 22px;">For the next song, vote for ...</p>
                    <input type="radio" id="vote-song-1" name="next-song" value="1">
                    <label for="vote-song-1">Song One Information Here</label><br>
                    <input type="radio" id="vote-song-2" name="next-song" value="2">
                    <label for="vote-song-2">Song One Information Here</label><br>
                    <input type="radio" id="vote-song-3" name="next-song" value="3">
                    <label for="vote-song-1">Song One Information Here</label>
                    <div class="close">Cast Vote</div>
                </div>
                <!--<div v-of="!canVote">-->
                    <!--<h3>Voting is close currently</h3>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="karaoke-screen">
        <div class="main-player">
            <span v-if="singer == 'null'">
                Please wait for the singer to be selected!
            </span>
            <span v-else>
                singer selected
            </span>
        </div>

        <div id="root" class="sub-players">
                <div class="single-player-view" v-for="players in lobby">player goes here</div>
        </div>
    </div>
    <div class="lyrics area">
        <h2>Lyrics</h2>
        <div>Don't know the lyrics, no problem! Follow along with the song below!</div>
        <div id="lyr"></div>
    </div>
</div>

</body>
<script>
    let app = new Vue({
        el: '#root',
        data: {
            title: 'v-for demo',
            lobby: ['player1', 'player2', 'player3', 'player4', "player5", "player5", "player5", "player5"],
            singer: "null",
            lyrics: "lyric doo wap",
        },
        methods: {
        }
    });
    let lyrics = new Vue({
        el: '#lyr',
        data: {
            artist: '',
            title: '',
            lyrics: "lyric doo wap",
        },
        methods: {
        }
    });

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    const getLyrics = async (artist, song) => {
        var request = new XMLHttpRequest();

        request.open('GET', 'https://api.lyrics.ovh/v1/' + artist + '/' + song, true);
        request.onload = function () {
            var data = JSON.parse(this.response);
            returnLyrics = data.lyrics;

            const card = document.getElementById('lyr')
            card.innerText = data.lyrics;

            return returnLyrics;
        };
        request.send();
    }
    // getLyrics('Rick Astley', 'Never Gonna Give You Up');
    // getLyrics('ABBA', 'Dancing Queen');
    getLyrics('Fountains of Wayne', 'Stacy’s Mom')
    // getLyrics('Coldplay', 'Adventure of a Lifetime');
</script>
</html>
